body {
    background-color: #dce9f2;
    color: black;
    font-family: 'Teko', sans-serif;
}
.titulo {
    text-align:center;
    font-size:30px;
}
.banner{
    background-color:#F0F8FF;
    border-radius:10px;
    color:black;
    display:block;
    margin:auto;
    text-align:center;
    width: 93vw;
}
img {
    padding:20px 20px 0px 20px;
    width: 60vw;
}
#img-caption {
    padding-bottom:20px;
}
#tribute-info {
    letter-spacing: 0.7px;
    line-height: 2;
    margin:auto;
    width: 28vw;
}
#info-title {
    text-align:center;
}
#tribute-link{
    text-align:center;
}

@media (max-width:800px) {
    #tribute-info {
        width: 93vw;
    }
}